.main-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}

.main-footer h2 {
    color: #1085df;
}

.contact-text p {
    font-size: 20px;
}

.main-footer .red-span {
    color: #c82113;
}

.main-footer p:nth-child(1n + 4) {
    color: #1085df;
}

.contact-spicy .so-me-images img {
    width: 12vw;
    cursor: pointer;
}

.so-me-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.google-maps iframe{
    margin-bottom: 1rem;
    width: 70%;
}

/* Media Queries */
/* Desktop Version */
@media (min-width: 1300px) {
    .main-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-spicy .so-me-images img {
        width: 5vw;
    }
}